[submodule "external/indexed_bzip2"]
	path = external/indexed_bzip2
	url = https://github.com/mxmlnkn/indexed_bzip2
[submodule "external/SQLiteCpp"]
	path = external/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
